body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url(images/wp2628511.jpg);
    }
    20%
    {
        background-image: url(images/4944181.webp);
    }
    40%
    {
        background-image: url(images/bg.jpg);
    }
    60%
    {
        background-image: url(images/háttér.jpg);
    }
    80%
    {
        background-image: url(images/TPK5OJ.webp);
    }
    100%
    {
        background-image: url(images/funny-meme android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-rylrr-1920x1200.jpg);
    }
}
