a {
  position: relative;
  animation: mymove 17s infinite;
}

.a1 {animation-timing-function: linear;}
.a2 {animation-timing-function: ease;}
.a3 {animation-timing-function: ease-in;}
.a4 {animation-timing-function: ease-out;}
.a5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  0% {left: 0px;}
  50% {left: 1200px;}
  100% {left: 0px;}
}
