.background-image: url(4944181.webp);
.wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper img {
  width: 65px;
  height: 65px;
  position: absolute;
  
  top: 5%;
  left: 75%;
  transform: translate(610%, -400%);
}
