.wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper img {
  width: 65px;
  height: 65;
  position: absolute;
  
  top: 5%;
  left: 75%;
  transform: translate(-210%, -400%);
}
